{{!-- Display ALL Comment to the Blog Post --}}
<div class="eachComment">
    <p class="username">{{user.username}} <i class="fa fa-commenting-o" aria-hidden="true"></i></p>
    <p class="datePosted">{{comment_post_date}}</p>
    <p class="commentContent">{{comment_content}}</p>
</div>