{{!-- Display ALL my Blogs on Dashboard --}}

<div class="blogDetails">
    <div class="blogTitle">
        <a class="blogLink" href="/blogs/{{blog_id}}">
            <h2>{{blog_title}}</h2>
        </a>
    </div>
    <div class="blogDetails">
        <p>Date Posted: {{blog_post_date}}</p>
    </div>
</div>