<div class="login-page-container">
    <div id="login-container">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        <form id="login-form">
            <div class="form-group">
                <label for="email-login">Username</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>

        <p>
            Don't have an account? Sign up <a href="/signup">here.</a>
        </p>
    </div>
</div>

<script src="./js/login.js"></script>